{{ define "edit_employee_content" }}
<div class="content">
    <h1>{{ if .Emp.ID }}Редактировать{{ else }}Новый сотрудник{{ end }}</h1>
    <form action="{{ if .Emp.ID }}/edit/employees/{{ .Emp.ID }}/edit{{ else }}/edit/employees/new{{ end }}" method="post">
    <label for="name">Имя</label>
    <input id="name" name="name" type="text" value="{{ .Emp.Name }}" required>

    <label for="status">Статус</label>
    <input id="status" name="status" type="text" value="{{ .Emp.Status }}" required>

    <label for="salary">Зарплата</label>
    <input id="salary" name="salary" type="number" step="0.01" value="{{ .Emp.Salary }}" required>

    <label for="dept_id">Отдел</label>
    <select id="dept_id" name="dept_id" required>
        {{ range .DeptIDs }}
        <option value="{{ . }}" {{ if eq . $.Emp.DeptID }}selected{{ end }}>Отдел {{ . }}</option>
        {{ end }}
    </select>

    <button type="submit">{{ if .Emp.ID }}Сохранить{{ else }}Добавить{{ end }}</button>
    </form>
</div>
{{ end }}

{{ define "form_employee.html" }}
    {{ template "base" . }}
    {{ template "edit_employee_content" . }}
{{ end }}
