{{ define "edit_department_content" }}
<div class="content">
    <h1>Редактировать отдел №{{ .Dept.ID }}</h1>
    <form action="/edit/departments/{{ .Dept.ID }}/edit" method="post">
    <h2>Текущий руководитель:</h2>
    <p>{{ .Dept.Boss }}</p>
    <label for="boss">Сменить на:</label>
    <select id="boss" name="boss" required>
        {{ range .Emps }}
            {{ if ne .Name $.Dept.Boss }}
                <option value="{{ .Name }}">{{ .Name }}</option>
            {{ end }}
        {{ end }}
    </select>

    <button type="submit">Сохранить</button>
    </form>
</div>
{{ end }}

{{ define "form_department.html" }}
    {{ template "base" . }}
    {{ template "edit_department_content" . }}
{{ end }}
