{{ define "employee_content" }}
<div class="content">
    <h1>Список сотрудников</h1>
    {{ if .Message }}
      <div class="alert">{{ .Message }}</div>
    {{ else }}
    <table>
    <thead>
        <tr><th>ID</th><th>Имя</th><th>Статус</th><th>Зарплата</th><th>Отдел</th><th>Действия</th></tr>
    </thead>
    <tbody>
        {{ range .Emps }}
        <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Status }}</td>
        <td>{{ .Salary }}</td>
        <td>{{ .DeptID }}</td>
        <td>
            <a href="/edit/employees/{{ .ID }}/edit">✏️</a>
            <form action="/edit/employees/{{ .ID }}/delete" method="post" style="display:inline">
            <button type="submit">🗑️</button>
            </form>
        </td>
        </tr>
        {{ else }}
        <tr><td colspan="6">Нет ни одного сотрудника</td></tr>
        {{ end }}
    </tbody>
    </table>
    {{ end }}
</div>
{{ end }}

{{ define "view_employees.html" }}
    {{ template "base" . }}
    {{ template "employee_content" . }}
{{ end }}